*{
	margin: 0;
	padding: 0;
}

input,
button,
textarea,
a{
	outline: none;
}

a{
	color: inherit;

	&:hover,
	&:active,
	&:visited,
	&:focus{
		text-decoration: none;
		color: inherit;
		outline: none;
	}
}

html{
	font-size: 16px;
}

body{
	font-family: $source;
	font-weight: 200;
	line-height: 1;
	color: $black;
}

hr{
	width: 100%;
	height: 1px;
	background: $gray2;
	margin: 0;
	padding: 0;
}

.largeText{
	font-size: $fz65;
	color: inherit;
	position: relative;
	padding-bottom: 34px;
	font-weight: 200;
	text-align: center;

		&:before{
			content: '';
			width: 33px;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -16.5px;
			background: $blue;
		}

		& + .subText{
			margin-top: 30px;
		}
}

.subText{
	font-size: $fz22;
	color: inherit;
	text-align: center;
	line-height: 28px;
}

.full_height{
	height: 100%;
}

input[type="text"],
textarea{
	width: 100%;
	height: 70px;
	background: #fff;
	font-size: $fz22;
	line-height: normal;
	padding-left: 20px;
	color: $gray;
	float: left;
	border: none;
	border: 1px solid $gray2;
	box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.5);
	resize: none;
	border-radius: 0;

		&.no_border{
			box-shadow: none;
			border: none;
		}

		&.b_only{
			border: 1px solid #CDCDCD;
			box-shadow: none;
		}

		&.error{
			box-shadow: inset 0 0 0 3px $red;
		}
}

textarea{
	padding-top: 10px;
}

.fieldWrap{
	margin-bottom: 50px;

		.checkBox{
			border: 1px solid #F0F0F0;
		}
}

.checkWrap{
	background: #FBFBFB;
	position: relative;
	border-bottom: 1px solid #F0F0F0;
	min-height: 60px;

		&:last-child{
			border-bottom: none;
		}

		input{
			visibility: hidden;
			position: absolute;
			left: -90000px;

				&:checked + label{
					background: #F3F3F3;

						&:after{
							display: none;
						}

						span{
							background: $blue;
							border-color: $blue;

								&:before{
									display: block;
								}
						}
				}
		}

		label{
			cursor: pointer;
			display: block;
			width: 100%;
			height: 100%;
			padding-left: 60px;
			min-height: 60px;

				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background-color: transparent;
					z-index: 20;
					display: block;
				}

				span{
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 4px;
					border: 1px solid #CDCDCD;
					background: #fff;
					position: absolute;
					left: 20px;
					top: 20px;

						&:before{
							content: "\e600";
							font-family: 'pinwall_icons';
					    speak: none;
					    font-style: normal;
					    font-weight: normal;
					    font-variant: normal;
					    text-transform: none;
					    line-height: 1;
					    -webkit-font-smoothing: antialiased;
					    -moz-osx-font-smoothing: grayscale;
					    position: absolute;
					    width: 100%;
					    height: 100%;
					    text-align: center;
					    color: #fff;
					    line-height: 18px;
					    font-size: $fz19;
					    display: none;
						}
				}

				p{
					font-size: $fz16;
					font-weight: 600;
					line-height: 20px;
					padding: 20px 0;
				}

				textarea{
					padding: 8px 0 0 10px;
					width: calc(100% - 20px);
					margin: 20px 0;
				}
		}

		&.withDD{
			label{
				padding-bottom: 80px;

					&:after{
						z-index: 22;
					}
			}

			.DropDown{
				z-index: 21;
				background: #fff;
				width: calc(100% - 40px);
				left: 20px;
				bottom: 21px;
				position: absolute;
			}
		}
}

.DropDown{
	height: 60px;
	box-shadow: 0 0 0 1px #F0F0F0;
	width: 100%;
	background: #FBFBFB;
	cursor: pointer;
	position: relative;

		.currentItem{
			width: 100%;
			height: 100%;
			line-height: 20px;
			padding: 20px;
			font-size: $fz16;
			font-weight: 300;
			color: $gray;
			position: relative;

				&:before{
					content: '';
					position: absolute;
					top: 21px;
					right: 26px;
					border: 5px solid transparent;
					border-top: none;
					border-bottom: 8px solid $gray;
				}

				&:after{
					content: '';
					position: absolute;
					bottom: 21px;
					right: 26px;
					border: 5px solid transparent;
					border-bottom: none;
					border-top: 8px solid $gray;
				}

				p{
					font-weight: 600;
					color: $black;

					span{
						font-weight: 300;
					}
				}
		}

		.ddlist{
			display: none;
			position: absolute;
			width: 100%;
			background: #FBFBFB;
			box-shadow: 0 0 0 1px #F0F0F0;
			line-height: 20px;
			padding: 0;
			z-index: 2;

				li{
					list-style: none;
					border-bottom: 1px solid #F0F0F0;

						p{
							padding: 20px;
							font-weight: 600;

								span{
									font-weight: 300;
								}
						}
				}
		}

		&.opened{
			z-index: 25;

			.ddlist{
				display: block;
			}
		}
}

.radioBox{
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	padding-left: 10px;

		input{
			visibility: hidden;
			left: -99999px;
			position: absolute;

				&:checked + label{
					span{
						border: 5px solid $blue;
						background: #fff;
					}
				}
		}

		label{
			line-height: 20px;
			position: relative;
			cursor: pointer;
			overflow: hidden;

			span{
				width: 20px;
				height: 20px;
				border-radius: 50%;
				display: block;
				background: #FBFBFB;
				border: 1px solid #CDCDCD;
				float: left;
				margin-right: 10px;
			}

			p{
				font-size: $fz16;
				font-weight: 600;
				float: left;
			}
		}
}

button{
	width: 100%;
	max-width: 330px;
	height: 70px;
	background: $blue;
	border: none;
	float: left;
	opacity: 0.9;
	position: relative;

		&:hover{
			opacity: 1;
		}

		span{
			color: #fff;
			line-height: 70px;
			font-size: $fz22;	
			padding-right: 10px;
			position: relative;	
			display: inline-block;

				&:after{
					content: '';
					position: absolute;
					right: -8px;
					top: 50%;
					margin-top: -4px;
					border: 5px solid transparent;
					border-right: none;
					border-left: 8px solid #fff;
				}
		}

		&.green{
			background: $green;
		}

		&.no_arrow{
			span{
				&:after{
					display: none;
				}
			}
		}
}

header{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;

		.logo{
			text-align: center;
			padding-top: 42px;
			color: #fff;

				i{
					color: $blue;
					font-size: $fz39;
					margin-right: 15px;
				}


				span{
					font-weight: 200;
					font-size: $fz39;
					color: inherit;
				}
		}

		h1{
			margin-top: 175px;
		}

		form{
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.53);
			border-radius: 8px;
			padding: 20px;
			margin-top: 40px;

				input{
					max-width: 430px;
					margin-right: 10px;

						&.zip{
							margin-right: 10px;
							max-width: 135px;
						}
				}

				.DropDown{
					margin-right: 10px;
					max-width: 430px;
					height: 70px;
					float: left;

						.currentItem{
							line-height: 30px;
							font-size: $fz22;

								&:before{
									top: 25px;
								}

								&:after{
									bottom: 25px;
								}

								p{
									font-size: $fz22;
								}
						}

						.ddlist{
							li{
								p{
									color: #000;
								}
							}
						}
				}

				.errorText{
					text-align: center;
					padding-top: 25px;
					color: #fff;
					font-size: $fz16;
					font-weight: 600;
					display: none;

						a{
							color: $blue;
						}
				}

				&.zip_error{
					.errorText{
						display: block;
					}

					button:after{
						display: block;
					}

					&.invalid{
						.DropDown{
							box-shadow: inset 0 0 0 3px $red;
						}
					}
				}

				&.invalid{
					.DropDown{
						box-shadow: inset 0 0 0 3px $red;
					}

					.zip{
						box-shadow: inset 0 0 0 3px $red;
					}

						&.valid{
							.zip{
								box-shadow: none;
							}
						}

						&.selected{
							.DropDown{
								box-shadow: none;
							}
						}
				}

				button{
					&:after{
						content: 'Sorry, we just can’t :(';
						font-size: $fz22;
						font-weight: 200;
						line-height: 70px;
						position: absolute;
						height: 100%;
						width: 100%;
						background: $red;
						left: 0;
						top: 0;
						color: #fff;
						display: none;
					}
				}

				&#lp_form{
					.DropDown{
						max-width: 575px;
					}
				}
		}

		nav{
			height: 100px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(251,251,251,0.9);
			overflow: hidden;
			z-index: 2;

			ul{
				width: 100%;
				text-align: center;
				font-size: 0;

					li{
						display: inline-block;
						vertical-align: top;
						margin-right: 60px;
						list-style: none;
						line-height: 100px;
						height: 100%;

						a{
							display: block;
						}

							&:last-child{
								margin-right: 0;
							}

							i.icon{
								font-size: $fz31;
								margin-right: 20px;
								color: $blue;
								line-height: 100px;
							}

							span{
								display: inline-block;
								vertical-align: top;
								font-size: $fz19;
								color: $gray;
								font-weight: 300;
							}
					}
			}
		}

		&.altheader{
			padding-bottom: 100px;

				&.no_nav{
					padding-bottom: 0;
				}

			.logo{
				background: #fff;
				color: #000;
				height: 130px;
				line-height: 130px;
				padding-top: 0;

					&.gray{
						background: #FBFBFB;
					}
			}

			nav{
				bottom: auto;
				top: 130px;
			}
		}
}

label.error{
	display: none !important;
	position: absolute;
	left: -999999px;
}

.menu_toggle_button{
	display: none;
}

footer{
	background: #fff;
	padding: 125px 0;

		.footerBlock{
			height: 80px;
			line-height: 80px;

				& > div{
					height: 100%;
				}
		}

		.logo{
			display: inline-block;
			vertical-align: bottom;
			font-size: $fz65;
			line-height: 1;

				i{
					color: $blue;
					margin-right: 15px;
				}


				span{
					font-weight: 200;
					color: $black;
				}
		}

		.footerMenu{
			font-size: 0;
			height: 100%;

			li{
				display: inline-block;
				height: 100%;
				line-height: 80px;
				margin-right: 30px;
				font-size: 0;

				&:last-child{
					margin-right: 0;
				}

					a{
						font-size: $fz22;
						color: $black;
						vertical-align: bottom;
						line-height: 1;
						display: inline-block;
						margin-bottom: 10px;
					}
			}

			&.sec{
				text-align: right;

					li{
						margin-right: 50px;

							&:last-child{
								margin-right: 0;
							}

							a{
								font-size: $fz16;
								color: $gray2;
							}
					}
			}
		}

			&.altfooter{
				padding: 35px 0 55px 0;
				background: #FBFBFB;
			}
}