/*==============================
=            HEADER            =
==============================*/
header.lp{
	height: 800px;
	background-image: url(../img/LP/pinwall_hero_img_1x.jpg);
}

/*===================================
=            MAINCONTENT            =
===================================*/
.mainContent{
	padding-top: 110px;
	padding-bottom: 80px;

		hr{
			margin-top: 85px;
		}

		.contentBlock{
			width: 100%;
			height: auto;
			display: table;
			margin-top: 80px;

				.dtc{
					display: table-cell;
					width: 50%;
					vertical-align: middle;

						&.imgBlock{
							text-align: center;
						}
				}

				h4{
					font-size: $fz39;
					color: $blue;
					margin-bottom: 20px;
					font-weight: 200;
					padding: 0 10px;
				}

				p{
					font-size: $fz22;
					line-height: 1.4;
					padding: 0 10px;
				}

				.iconsWrap{
					margin-top: 40px;
					overflow: hidden;

						.icon{
							float: left;
							margin-right: 40px;

								&:last-child{
									margin-right: 0;
								}
						}
				}
		}
}

/*=============================
=            DWNLD            =
=============================*/
.dwnld{
	display: table;
	width: 100%;
	height: 680px;
	background: url(../img/LP/pinwall_mobileWeb_img.jpg) center center no-repeat;
	background-size: cover;

		.dtc{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		.buttons{
			margin-top: 90px;

				a:first-child{
					margin-right: 70px;
				}
		}
}







