// font
$source: 'Source Sans Pro', sans-serif;

// colors 
$black: #4A4A4A;
$blue: #2ac7ee;
$green: #9ADC34;
$gray: #9B9B9B;
$gray2: #CDCDCD;
$red: #E86B6B;

// font-size's
$fz11: 0.6875rem;
$fz16: 1rem;
$fz19: 1.188rem;
$fz22: 1.375rem;
$fz24: 1.5rem;
$fz31: 1.938rem;
$fz33: 2.063rem;
$fz39: 2.438rem;
$fz65: 4.063rem;